:root{
/*https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
  https://coolors.co/palette/353535-3c6e71-ffffff-d9d9d9-284b63	*/
}

body{
	background-color: #ffffff;
}


nav{
	position: sticky;
	top: 0;
	width: 500px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 15px;
	margin: auto;
}

nav a {
	position: relative;
	display: block;
	float: left;
	font-size: 15px;
	line-height: 50px;
	width: 100px;
	height: 50px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	z-index: 10;
}
nav a:hover{
	color: #000000;
	font-size: 15px;
}

nav a:nth-child(1){
	width: 110px;
}
nav a:nth-child(2){
	width: 130px;
}

nav a:nth-child(3){
	width: 130px;
}

nav a:nth-child(4){
	width: 130px;
}


nav .animation{
	position: absolute;
	height: 100%;
	background-color: #e9ecef;
	z-index: 9;
	border-radius: 15px;
	transition: all 0.3s;
}


nav a:nth-child(1):hover~.animation{
	width: 110px;
	left: 0px;
}

nav a:nth-child(2):hover~.animation{
	width: 130px;
	left: 110px;
}

nav a:nth-child(3):hover~.animation{
	width: 130px;
	left: 240px;
}

nav a:nth-child(4):hover~.animation{
	width: 130px;
	left: 370px;
}

#hero{
	height: 100vh;
	background-color: #ffffff;
	place-items: center;
}

.container{
	position: absolute;
	top: 40%;
	left: 50%;
	transform:  translate(-50%,-50%);
	align-items: center;
}

.hero_content{
	margin-top: 10%;
	float: left;
  	width: 66.66%;
}

.hero_text{
	font-size: 2rem;
	text-align: center;
}
.text-color-main{
	color: #495057;
	font-size: 3rem;
}
.hero_button_1{
	text-align: center;
	margin-top: 25px;
}
.hero_button_2{
	text-align: center;
	margin-top: 15px;
}
.fa-lg{
	color:#000000;
}
.hero_img{
	margin-top: 6%;
	float: right;
  	width: 33.33%;
}


.btn a{
	text-decoration: none;
	color: #000000;
}
.btn a:hover{
	color: #ffffff;
}

#about{
	height: 100vh;
	background-color: #ffffff;
}
.about_content{
	position: relative;
	top: 25%;
	left: 30%;
	width: 600px;
}

#project{
	height: 100vh;
	background-color: #ffffff;
}

.project_container{
	position: relative;
	top: 15%;
	left: 10%;
}

.prj_tech{
	font-size: 10px;
}

.col{
	margin-bottom: 20px;
}